<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Profile</title>
</head>
<body>
    <header id="main-navigation">
        <h1><a href="">Tech Wix</a></h1>
        <nav >
            
                <a href="../index.html">Home</a>
                <a href="">Profile</a>
                <a href="../templates/projects.html">Projects</a>
            
        </nav>
    </header>
<section id="main-content">

        
          <div class="container">
            <h1 class="xlarge-font"><b>Durga Prasad D</b></h1>
            <span id="dev" style="font-size: 20px;">Developer</span>
           <p id="quote">The way I see it, if you want to see the rain, you got to put up with the rain</p>
          </div>
        
      
</section>

</body>
</html>