<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/projects.css">
    <script src="../js/projects.js"></script>
    <title>Project</title>
</head>
<body>
    <header id="main-navigation">
        <h1><a href="../templates/home.html">Tech Wix</a></h1>
        <nav >
            
                <a href="../templates/home.html">Home</a>
                <a href="../templates/profile.html">Profile</a>
                <a href="../templates/projects.html">Projects</a>
            
        </nav>
    </header>
<div>
    <h1 id="heading">Open source projects to contribute</h1>
    
</div>
<div id="insert"></div>
</body>
</html>